* {
  box-sizing: border-box;
}


main {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 95vw;
  height: 50vh;
}

.slides-container {
  position: relative;
  overflow-x: hidden;  
  display: flex;
  flex: 1;
  width: 100%;
  max-width:95vw;
  margin-left: 5%;
  margin-top:0;
  justify-content: center;
  height:100%;
}

.slide {
  position: absolute;
  font-size: 90px;
  font-weight: 700;
  color: rgba(255,255,255,0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75%;
  max-height:500px;
  width: 270px;
  margin-top:0;
}

.art{
  position:absolute;
  height:70%;
  max-height:400px;
}

figcaption{
  position:relative;
  margin-top:105%;
  margin-left:0;
  color: darkblue;
  font-weight:900;
  font-size:19px;
  text-shadow: 1px 1px 2px lightgreen, 0 0 15px blue, 0 0 15px lightgreen;
}

figcaption.common::after{
  content:"COMMON";
  position:absolute;
  align:center;
  top:20px;
  left:30%;
  color:green;
  font-size:small;
  text-shadow: 0.2px 0.5px 1px lightgreen, 0 2px 5px green, 1px 2px 2px yellow;
}
figcaption.rare::after{
  content:"RARE";
  position:absolute;
  align:center;
  top:20px;
  left:30%;
  color:orange;
  font-size:small;
  text-shadow: 0.2px 0.5px 1px gold, 0 2px 5px yellow, 1px 2px 2px sandybrown;
}
figcaption::before{
  content:"token: ";
  position:relative;
  color:black;
  font-size:16px;
  font-weight:600;
  text-shadow: 0.2px 0.2px 1px lightblue, 0 0 1px darkblue, 0 0 1px lightgreen;
}
.slides-inner {
  position: relative;
  height: 100%;
  width: 80%; 
  left:10%;
  justify-content: center;
}

.contentwrapper{
    width:100vw;
    padding-top:2vh;
    padding-bottom:1vh;
}p{margin-top:-10px}
.black{background-color:#09689E;color:#f6f6f6}
.white{background-color:white;color:#0D0F10}
.white h2{color:#09689E}
.black h2{color: white; padding-top:3px;}
.content {
  position: relative;
  overflow: hidden;  
  width: 80vw;
  margin-left: 10vw;
  justify-content: center;
}
.content b{font-size:17px;color:#09689E}

.sticky-section{
  overflow:hidden;
  background-color:#09689E; 
  margin-bottom:50px;
  width:100vw; 
  color:white; 
  position:sticky;
  position:-webkit-sticky;
  top:0px;
  z-index:99;
}

nav a{
  float:right;
  text-decoration:none;
  color:white;
  font-size:18px; 
  padding: 20px 30px;  
  -webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
nav a:hover{
  background-color:#002e5b; 
  color:wheat; 
}

.list > il{
   font-weight:500;
   font-size: 18px;
}
